name: my-first-workflow
# To get trigger on every push in this repo in any branch
on: 
 schedule:
   - cron: "5 * * * *"
 workflow_dispatch:
 push:

jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Running single command in JOB1
        run: echo "Hi this is first Githubworkflow"
      - name: checking the OS Release for Github action
        run: cat /etc/os-release
      - name: Calling Sleep
        run: sleep 20
  job2:
    name: JOB2
    runs-on: ubuntu-latest
    steps:
      - name: Checking the Host name of the Runners
        run: hostname
      - name: Running multiple commands
        run: |
           echo "Hi I am Sarvan"
           echo "Current time is 'date'"
           sleep 20
  job3:
    name: JOB3
    needs: job1
    runs-on: windows-latest
    steps:
      - name: Job with single Dependency
        run: sleep 10
      - name: Checking Runner Info
        shell: pwsh
        run: get-computerinfo
  job4:
    name: JOB4
    needs: [job1,job2,job3]
    runs-on: macos-latest
    steps:
      - name: Job with Multiple Dependency
        run: sleep 20
      - name: Runner info
        run: sw_vers
        
